:root {
    --primary-color: #E3F2FD; /* Light Blue */
    --secondary-color: #BBDEFB; /* Soft Sky Blue */
    --accent-color: #90CAF9; /* Light Teal Blue */
    --highlight-color: #64B5F6; /* Muted Medium Blue */
    --font-color: #37474F; /* Dark Gray Blue */
    --hover-color: #42A5F5; /* Bright Blue */
  }
  

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* body::-webkit-scrollbar {
    display: none;
} */


/* navbar */
.navbar {
    background-color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10%;
    /* width: 100%; */
    position: sticky;
    top: 0;
    z-index: 9999;
}

.logo {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.logo a {
    color: var(--font-color);
    font-weight: 600;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar-nav li {
    list-style: none;
}

.navbar-nav li a {
    color: var(--font-color);
    text-transform: capitalize;
    font-weight: 500;
    transition: color .2s linear;
}

.navbar-nav li a:hover {
    color: var(--secondary-color);
}

.navbar-extra {
    display: flex;
    align-items: center;
    gap: 16px;
    display: none;
}

.navbar-extra a {
    color: var(--font-color);
    transition: .2s linear;
}

.navbar-extra a:hover {
    color: var(--secondary-color);
}
/* navbar end */

/* home */
.home {
    padding: 4rem 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .home .home-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.home .home-box {
    display: inline-block;
    cursor: default;
}

.home .home-box h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--font-color);
}

.home .home-box h1 {
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--highlight-color);
}

.home .home-box h1 span {
    color: var(--font-color);
}

.home .home-box p {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.home .home-box a button {
    padding: 0.9rem 1.2rem;
    border: none;
    background-color: var(--highlight-color);
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 5px;
}

.home .home-box a button:hover {
    background-color: var(--hover-color);
}

.home .home-img {
    max-width: 450px;
    /* border: 1px solid black; */
}

.home .home-img img {
    width: 100%;
}
/* home end */

/* about */
.about {
    padding: 8rem 10% 0;
}

.about h1 {
    font-size: 3rem;
    color: var(--font-color);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.about .about-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 70px 100px;
    border-radius: 5px;
    gap: 20px;
}

.about .about-box .box-img img {
    width: 200px;
    border-radius: 5px;
}

.about .about-box .box-card {
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 200;
    cursor: default;
}

.about h1 span {
    color: var(--highlight-color);
}
/* about end */

/* skills */
.skills {
    padding: 8rem 10% 0;
}

.skills h1 {
    color: var(--font-color);
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.skills h1 span {
    color: var(--highlight-color);
}

.skills .skills-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.skills .skills-box .img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    flex-direction: column;
    padding: 50px 40px;
    background-color: var(--secondary-color);
    transition: background-color .2s linear, transform .2s linear;
    cursor: pointer;
}

.skills .skills-box .img-card:hover {
    background-color: var(--hover-color);
    transform: translateY(-10px);
}

.skills .skills-box .img-card img {
    width: 140px;
}

.skills .skills-box h1 {
    font-size: 1.4rem;
    cursor: default;
}
/* skills end */

/* contact */
.contact {
    padding: 6rem 10% 5rem;
}

.contact h1 {
    font-size: 3rem;
    color: var(--font-color);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.contact .contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.contact .contact-box .contact-card {
    justify-content: center;
    width: 250px;
}

.contact .contact-box .contact-card input, textarea {
    width: 100%;
    padding: .5rem 1rem;
    color: var(--font-color);
    outline: none;
    background-color: var(--primary-color);
    border: 0.5px solid var(--font-color);
    border-radius: 5px;
    transition: box-shadow .2s ease-in;
}

.contact .contact-box .contact-card input:focus {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2);
}

.contact .contact-box .contact-card textarea:focus {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.2);
}

.contact .contact-box .button button {
    padding: 1rem 1.8rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: var(--highlight-color);
    color: var(--font-color);
    text-transform: capitalize;
    border-radius: 5px;
    transition: background-color .2s linear;
    cursor: pointer;
}

.contact .contact-box .button button:hover {
    background-color: var(--hover-color);
}
/* contact end */

/* footer */
footer {
    padding: 2rem 10% 2rem;
    background-color: var(--font-color);
}

footer .footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

footer .footer-box .copyright p {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--highlight-color);
    cursor: default;
}

footer .footer-box .items ul {
    display: flex;
    gap: 3rem;
}

footer .footer-box .items ul li {
    list-style: none;
}

footer .footer-box .items ul li a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: 400;
}

footer .footer-box .icon {
    display: flex;
    gap: 20px;
}

footer .footer-box .icon a {
    color: var(--primary-color);
}
/* footer end */

/* responsive */
@media screen and (max-width: 768px) {
    * {
        font-size: 97%;
    }

    .navbar-nav {
        display: none;
    }

    .navbar-extra {
        display: inline-block;
    }

    .home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .home .home-box h1 {
        margin-bottom: 10px;
    }

    .about-box {
        flex-direction: column;
    }

    .about-box .box-card {
        text-align: center;
    }

    .skills .skills-box {
        flex-direction: column;
    }

    footer .footer-box .copyright p {
        font-size: 90%;
    }

    footer .footer-box .items ul {
        display: flex;
        gap: 15px;
    }
}
/* responsive end */


